APP_ENV=development
APP_NAME=logging_service
APP_PORT=8006
DEBUG=true

DB_HOST=localhost
DB_PORT=3306
DB_NAME=logging_db
DB_USER=root
DB_PASSWORD=secret

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC_USER_REGISTERED=user.registered
KAFKA_TOPIC_ORDER_CREATED=order.created
KAFKA_TOPIC_CHEF_ASSIGNED=chef.assigned
KAFKA_TOPIC_DELIVERY_STARTED=delivery.started
KAFKA_TOPIC_DELIVERY_COMPLETED=delivery.completed
KAFKA_CONSUMER_GROUP=logging-service-group