APP_ENV=development
APP_NAME=delivery_service
APP_PORT=8004
DEBUG=true

DB_HOST=localhost
DB_PORT=3306
DB_NAME=delivery_db
DB_USER=root
DB_PASSWORD=secret

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TOPIC_CHEF_ASSIGNED=chef.assigned
KAFKA_TOPIC_DELIVERY_STARTED=delivery.started
KAFKA_TOPIC_DELIVERY_COMPLETED=delivery.completed
KAFKA_CONSUMER_GROUP=delivery-service-group